{
  "openapi": "3.0.0",
  "info": {
    "title": "用户信息管理API",
    "description": "这是一个简单的用户信息管理API，提供用户创建、获取、更新和删除的功能。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://dropshipchinapro.com/v1",
      "description": "生产环境"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/users": {
      "get": {
        "summary": "获取所有用户",
        "description": "返回所有用户的列表",
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "创建用户",
        "description": "创建一个新的用户",
        "requestBody": {
          "description": "用户信息",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/users/{id}": {
      "get": {
        "summary": "获取用户信息",
        "description": "根据用户ID获取用户信息",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "更新用户信息",
        "description": "根据用户ID更新用户信息",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "用户信息",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新成功",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "删除用户",
        "description": "根据用户ID删除用户",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "用户ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "删除成功",
            "401": {
              "$ref": "#/components/responses/UnauthorizedError"
            },
            "404": {
              "$ref": "#/components/responses/NotFoundError"
            },
            "429": {
              "$ref": "#/components/responses/RateLimitError"
            },
            "500": {
              "$ref": "#/components/responses/InternalServerError"
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "用户ID"
          },
          "name": {
            "type": "string",
            "description": "用户名"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "用户邮箱"
          }
        },
        "required": [
          "name",
          "email"
        ]
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer",
            "description": "错误代码"
          },
          "message": {
            "type": "string",
            "description": "错误消息"
          }
        },
        "required": [
          "code",
          "message"
        ]
      }
    },
    "responses": {
      "NotFoundError": {
        "description": "未找到",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "userNotFound": {
                "summary": "用户未找到",
                "value": {
                  "code": 404,
                  "message": "用户未找到。"
                }
              }
            }
          }
        }
      },
      "UnauthorizedError": {
        "description": "未授权",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "unauthorized": {
                "summary": "未授权示例",
                "value": {
                  "code": 401,
                  "message": "未授权，请提供有效的认证信息。"
                }
              }
            }
          }
        }
      },
      "RateLimitError": {
        "description": "请求过于频繁",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "rateLimitExceeded": {
                "summary": "请求频繁示例",
                "value": {
                  "code": 429,
                  "message": "请求过于频繁，请稍后再试。"
                }
              }
            }
          }
        }
      },
      "InternalServerError": {
        "description": "服务器内部错误",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "examples": {
              "internalError": {
                "summary": "服务器错误示例",
                "value": {
                  "code": 500,
                  "message": "服务器内部错误，请联系管理员。"
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}