openapi: 3.0.0
info:
  title: 用户信息管理API
  description: 这是一个简单的用户信息管理API，提供用户创建、获取、更新和删除的功能。
  version: 1.0.0
servers:
  - url: https://dropshipchinapro.com/v1
    description: 生产环境
paths:
  /users:
    get:
      summary: 获取所有用户
      description: 返回所有用户的列表
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/User'
    post:
      summary: 创建用户
      description: 创建一个新的用户
      requestBody:
        description: 用户信息
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '201':
          description: 创建成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /users/{id}:
    get:
      summary: 获取用户信息
      description: 根据用户ID获取用户信息
      parameters:
        - name: id
          in: path
          description: 用户ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '404':
          description: 用户未找到
    put:
      summary: 更新用户信息
      description: 根据用户ID更新用户信息
      parameters:
        - name: id
          in: path
          description: 用户ID
          required: true
          schema:
            type: string
      requestBody:
        description: 用户信息
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        required: true
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
    delete:
      summary: 删除用户
      description: 根据用户ID删除用户
      parameters:
        - name: id
          in: path
          description: 用户ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: 删除成功
components:
  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          description: 用户ID
        name:
          type: string
          description: 用户名
        email:
          type: string
          format: email
          description: 用户邮箱
      required:
        - name
        - email